body{
    background-color:#2a8260;
    color:white;
}
.page-wrapper{
    text-align: center;
    background-image: url(img/aa2.png);
    background-size: cover;
    height: 100vh;
    .page-header{
        border-bottom: 1px solid #0f422f;
    } 
    .content-wrapper{
        .main-content{
            textarea{
                overflow: scroll;
                border-radius: 5px;
                margin-bottom: 20px;
            }
            .btn-wrap{
                display: block;
                width: 100px;
                margin: 0 auto;
                padding: 20px;
                border: 1px solid  #0f422f;
                border-radius: 5px;
                background-color: #2a8260;
                color: white;
                &:hover{
                    background-color: #60a389;
                    cursor: pointer;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}